streamlit==1.36.0
pdfplumber==0.11.0
spacy==3.7.0
scikit-learn==1.4.0
joblib==1.4.0
pandas==2.2.0
numpy==1.26.0
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.0/en_core_web_sm-3.7.0-py3-none-any.whl